head
  link(rel="stylesheet", href="/style.css")
  title Unigon | #{title}

  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(http-equiv='Content-Language', content='EN')
  meta(http-equiv='Cache-Control', content='must-revalidate, post-check=0, pre-check=0')
  meta(http-equiv='Pragma', content='public')
  meta(http-equiv='Cache-Control', content='no-cache')
  meta(http-equiv='Pragma', content='no-cache')
  meta(http-equiv='Expires', content='-1')
  meta(name='robots', content='all,follow')
  meta(name='googlebot', content='all,follow,snippet,archive')
  meta(name='description', content='Unigon is a sandbox for development of a yet-to-be-defined RPG.')
  meta(name='keywords', content='unigon unicorn dragon rpg')
  meta(http-equiv='imagetoolbar', content='no')
  meta(http-equiv='MSThemeCompatible', content='no')
  meta(content='TRUE', name='MSSmartTagsPreventParsing')
  meta(content='off', name='autosize')
  meta(name='author', content='Ward W. Vuillemot')
