doctype html
html
  include ../../../views/includes/head
body
  include ../../../views/includes/top
  include ../../../views/includes/messages
  != body
  include ../../../views/includes/foot
  script
    include includes/eos/class.js

    include includes/eos/primitives/color.js
    include includes/eos/primitives/position.js
    include includes/eos/primitives/layer.js
    include includes/eos/primitives/sprite.js
    include includes/eos/primitives/player.js

    include includes/eos/entities/entity.js
    include includes/eos/entities/entity_manager.js

    include includes/eos/components/component.js
    include includes/eos/components/health_component.js
    include includes/eos/components/render_component.js

    include includes/eos/systems/system.js
    include includes/eos/systems/health_system.js
    include includes/eos/systems/system_manager.js

    include includes/configuration.js
    include includes/controls.js
    include includes/game.js