body {
  padding: 50px;
  font: 16px "Helvetica Neue", Helvetica, Arial;
}
a {
  color: #107aff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 a {
  font-size: 16px;
}

#banner
{
  font-size: 36px;
  font-weight: bold; 
}

#navigation ul li
{
  list-style: none;
  float: left;
}

.clear{
  clear: both;
}