body {
  padding: 50px;
  font: 16px "Helvetica Neue", Helvetica, Arial;
}
a {
  color: #107aff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 a {
  font-size: 16px;
}

#banner
{
  font-size: 36px;
  font-weight: bold; 
}

#navigation ul li
{
  list-style: none;
  float: left;
  padding-top: 0px;
}

#navigation ul
{
  padding-top: 0px;
}

.clear{
  clear: both;
}

#top
{
  color: #aaa;
  border-bottom: 1px solid #aaa;  
  padding-bottom: 10px;
}

#footer
{
  border-top: 1px solid #aaa;
  color: #aaa;
  font-size: 11px;
  text-align: center;
  font-style: italic;
}

#game
{
  position: relative;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.game_layer
{
  border: 1px solid black;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0px;
  position: absolute;
  left: 0;
  top: 0;
}

#layer_player{
  z-index: 2;
}

#layer_npc{
  z-index: 1;
}

#layer_background{
  z-index: 0;
  background: green;
}